/*Index*/

.container{
    margin: auto;
    overflow: hidden;
    width: 80%;
}
#border{
    height: 7vh;
    background-color: #2c71ae;
}
.head{
    padding: 3vh 0vh 3vh 0vh;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}

/* login */

body.login{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('images/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.loginDiv{
    background-color: #fff;
    width: 40%;
    height: 100vh;
    position: absolute;
    left: 33%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
}
#password_div{
    text-align: center;
    padding: 5%;
}
#uname_div{
    text-align: center;
}
#login_btn{
    width: 20vw;
    height: 10vh;
    background-color: #2c71ae;
    border: 0.1vw solid #2c71ae;
    border-radius: 0.2vw;
    color: #fff;
    cursor: pointer;
    margin-left: 30%;
}
img.Login{
    height: 30vh;
    margin-left: 30%;
}