<!DOCTYPE html>
<html lang="en">

<head>

    <title>Förstasida</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../images/oru-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/styleindex.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
        crossorigin="anonymous">

    <!-- Startpagelinks -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="../scripts/profile.js"></script>
    <!-- <script src="./scripts/profile.js"></script>  -->

   
</script>
   
</head>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <%- messages('message', locals) %>

        <div class="w3-display-middle">
            <h1 class="w3-jumbo w3-animate-top">Skaffa ditt examensarbete idag!</h1>

                <button type="button" class="loginbtn" data-toggle="modal" data-target="#myModal">
                    <strong>Logga in</strong>
                </button>
            </div>
            <div class="w3-display-bottomleft w3-padding-large">
                Drivs av 
                <strong>Webslingers</strong>
            </div>
    </div>

    <div class="container">
        <div id="modalBG">
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Logga in</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">

                            <!-- Tab-navigering -->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#login">Logga in</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#register">Registrera</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">

                            <!-- Tab login-content -->
                            <div id="login" class="tab-pane fade in active">
                                <form action="/login" method="POST">


                                    <!-- Username input -->
                                    <div class="input-container">
                                        <i id="icon" class="fas fa-user"></i>   
                                        <input required class="input-field" type="username" required placeholder="Användarnamn" name="username" maxlength="16"autocomplete="on"
                                        data-toggle="tooltip" title="Ditt användarnamn är även din email" > 
                                    </div>

                                    <!-- Password input -->
                                    <div class="input-container">
                                        <i id="icon" class="fas fa-key"></i>
                                        <input required class="input-field" type="password" maxlength="16" minlength="4" required placeholder="Password" name="password" autocomplete="on"
                                        data-toggle="tooltip"  title="Fyll i ett lösenord 4-16 karaktärer " >
                                    </div>

                                    <!-- Remember me checkbox -->
                                    <div class="input-container">
                                        <i>Kom ihåg mig&ensp;</i>
                                        <input id="checkBox" type="checkbox" name="remember">
                                        <br>
                                    </div>
                                    <!-- Sign in button -->
                                    <button type="submit" class="btn" href="/profile">Logga in</button>
                                </form>
                                <form action="forgot" method="POST">
                                    <input type="email" placeholder="Fyll i din Email..." name="email" data-toggle="tooltip"  title="Fyll i din email om du glömt ditt lösenord">
                                    <button type="submit">test</button>
                                </form>
                            </div>

                            <!-- Tab register-content -->
                            <div id="register" class="tab-pane fade in active" style="display: none">
                                <form action="/register" method="POST">

                                    <!-- Role dropdown -->
                                    <div class="input-container">
                                        <i id="icon" name="icontest" class="fas fa-graduation-cap"></i>
                                        <select id="role" onchange="setIcon()" name="role">
                                            <option value="student">Student</option>
                                            <option value="company">Företag</option>
                                        </select>
                                    </div>

                                    <!-- Username input -->
                                    <div class="input-container">
                                        <i id="icon" class="fas fa-user"></i>
                                        <input required class="input-field" type="text" placeholder="Exempel@exempel.com..." name="username" maxlength="45" autocomplete="on"
                                        data-toggle="tooltip"  title="Ditt användarnamn">
                                    </div>

                                    <!-- Password input -->
                                    <div class="input-container">
                                        <i id="icon" class="fas fa-key"></i>
                                        <input required class="input-field" type="password" placeholder="Lösenord" name="password" minlength="4" maxlength="16" autocomplete="on"
                                        data-toggle="tooltip"  title="Fyll i ditt lösenord minst 4-16 karaktärer">
                                    </div>

                                    <!-- Personal id input -->
                                    <div class="input-container">
                                        <i id="icon" class="fas fa-calendar-plus"></i>
                                        <input required class="input-field" type="text" placeholder="ddmmddxxxx..." name="pnum" id="pnum" minlength="10" maxlength="10"autocomplete="on"
                                        data-toggle="tooltip"  title="Fyll i ditt personnummer 10 siffror" pattern="[0-9]">
                                    </div>

                                    <!-- Sign up button -->                                   
                                    <button type="submit" class="btn" href="/register" value="Submit">Registrera</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>