<head>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="stack1" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Stack One</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
            <p>One fine body…</p>
            <p>One fine body…</p>
            <input type="text" data-tabindex="1">
            <input type="text" data-tabindex="2">
            <button class="btn" data-toggle="modal" href="#stack2">Launch modal</button>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Close</button>
            <button type="button" class="btn btn-primary">Ok</button>
        </div>
    </div>

    <div id="stack2" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Stack Two</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
            <p>One fine body…</p>
            <input type="text" data-tabindex="1">
            <input type="text" data-tabindex="2">
            <button class="btn" data-toggle="modal" href="#stack3">Launch modal</button>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Close</button>
            <button type="button" class="btn btn-primary">Ok</button>
        </div>
    </div>

    <div id="stack3" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Stack Three</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
            <input type="text" data-tabindex="1">
            <input type="text" data-tabindex="2">
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Close</button>
            <button type="button" class="btn btn-primary">Ok</button>
        </div>
    </div>
</body>