


/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    border-bottom: 5px;
    border-bottom-color: white;
    text-align: center;
    font-size: 16px; 
    font-size: 3vw;
    cursor: pointer;
    color: white;
}

.containerTab {
    border-top: 5px;
    width: 100%;
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    border-top: 5px;
    border-top-color: white;
}