/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    border-bottom-color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.containerTab {
    border-top: 5px;
    width: 100%;
    padding: 20px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    border-top: 5px;
    border-top-color: white;
}
span.closebtn{
    font-size: 20px;
    text-align: right;
}
.helpRow{
    margin-top: 5px;
    height: 80vh;
}

@media screen and (min-width: 600px) {
    .column {
        padding: 10px;
        border-bottom-color: white;
        text-align: center;
        font-size: 2vw;
        cursor: pointer;
        color: white;
    }
}