@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body{
    margin: 0;
    padding: 0;
    background-color: #000;
    background-image: url('../images/StartPicture.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.modal {
    height: 50vh;
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}
.modal_container{
    height: 100%;
    position: relative;
    cursor: auto;
    border-radius: 0.25em;
    background: rgba(0, 0, 0, 0.8);
}
.modal .input_style{
    font-size: 1.5em;
    width: 80%;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}
.modal input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
.modal input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2rem) scale(1.5);
}
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}
.modal input:focus::-webkit-input-placeholder {
    opacity: 1;
}
.modal input:not(:placeholder-shown) + label,
.modal input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
.modal input[type=submit]{
    text-decoration: none;
}
.field{
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}
label, input {
    transition: all 0.2s;
    touch-action: manipulation;
}
.avatar{
    height: 30vh;
    width: 15vw;
    float: left;
    padding: 3vh 5vw 0 5vw;
    overflow: hidden;
}
.btn{
    height: 5vh;
    background: rgba(0, 0, 0, 0.8);
    outline:none;
    border: none;
    color: #fff;
}
.btn:focus{
    border: 0.1em solid;
}
.tabs{
    display: block;
    width: 100%;
    height: 10vh;
    line-height: 50px;
}
.tabs li{
    width: 50%;
    float: left;
    text-align: center;
}
.tabs li a{
    text-decoration: none;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    display: block;
}
a, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
ul{
    list-style: none;
}
.close {
    position: absolute;
    right: 1vw;
    top: 0;
    color: #fff;
    font-size: 2vw;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    -webkit-animation: zoom_ani 0.6s;
    animation: zoom_ani 0.6s
}
@-webkit-keyframes zoom_ani {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom_ani {
    from {transform: scale(0)}
    to {transform: scale(1)}
}