* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #faf9f6;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #2e78ba;
	border-bottom: 3px solid #2e78ba;
}


.si{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 80%;
}


/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {

	height: 44px;
	padding: 10px;
	font-weight: 700;
}
.header .logo {
	color: #2e78ba;
}
/* #648baf*/
.side-nav .logo {
	
	background-color: #2e78ba;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #FFF;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #f2f4f7;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid ;
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #2e78ba;
}
.side-nav ul li a {
	color: rgb(100, 97, 97);
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}
/* main content styles */
.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	overflow: hidden;
}
.main-content .title {
	background-color: #2e78ba; /*student board */
	border-bottom: 1px solid #2e78ba;
	padding: 10px 20px;
	font-weight: 700;
	color: #faf9f6;
	font-size: 18px;
}
/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #2e78ba; 
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav .logo {
		text-align: center;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
    }
    .si{
        position: absolute;
        bottom: 5%;
        left: 15%;
        width: 70%;
	}
	.font2{

		text-align: center;
	
		margin: auto;
		clear: both;
	}
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav .logo {
	
		text-align: left;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
		background-image: url("./images/oru.png");
    }
    .si{
        position: absolute;
        bottom: 5%;
        left: 15%;
        width: 70%;
    }
}

/* main box container */
.main2 {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	height: 100%;

	background-color: #faf9f6;
}
.main {
	display: flex;
	flex-flow: row wrap;
	text-align: center;

}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}
.widget .title {
	
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	font-weight: 600;
}

.StudentDiv2
{
	text-align: center;

	width: 80%;
	padding-left: 20%;

	

}
#button2
{
	width: 100%;
	padding: 3%;
	border-radius: 1%;
	outline: 0px;
}
#butt
{
	width: 100%;
	padding: 3%;
	border-radius: 1%;
	outline: 0px;
}
.font2
{
	
	/* background-color: #6d6e70; */
	text-align: center;
	width: 50%;

	margin: auto;
	clear: both;
}
.h2
{
	background-color: #dfe4ec;
}

