* {
	box-sizing: border-box;
}

body {
	margin: auto;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #faf9f6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #2e78ba;
	border-bottom: 3px solid #2e78ba;
}
/* 
#HomeID {
	background-image: url('../images/safe_image.jpg');
	overflow: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	margin: auto;
} */
/* .matchbtn{
	float:left;
	margin-left: 27%;
}
.changebtn{
	float:left;
	margin-left: 1%;

}
.removebtn{
	float:left;
	margin-left: 1%;

} */

.matchbtn, .changebtn, .removebtn{
	width: 100%;
	min-height: 48px;
	padding: 2px 0;
	background-color: #ffff;
	color: black;
	border-bottom: 2px solid gray;
	border-color: #2e78ba;
	opacity: 0.5;
}
.collapsible{
	width: auto;
	justify-content: center;
}


#HomeH1 {
	color: #FFF;
}

#dbtest{
	width: 50%;
	height: 50%;
}

#blueb{
	background-color: #f2f4f7;
}

#blueP{
	color: #2e78ba;
}

#SideIcon{
	color:rgb(100, 97, 97);
}
#BlackT{
	color: #000000;
}

.si {
	position: absolute;
    bottom: 100%;
    left: 5%;
    width: 20%;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */

.logo {
	height: 44px;
	padding: 10px;
	font-weight: 700;
}

.header .logo {
	color: #2e78ba;
}

/* #648baf*/

.side-nav .logo {
	background-color: #2e78ba;
	color: #fff;
}

.header .logo {
	float: left;
}

.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #FFF;
}

.logo i {
	font-size: 22px;
}

.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}

.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;
}

.nav-trigger span,
.nav-trigger span:before,
span:after {
	width: 20px;
	height: 2px;
	background-color: #fff;
	position: absolute;
}

.nav-trigger span {
	top: 50%;
}

.nav-trigger span:before,
.nav-trigger span:after {
	content: '';
}

.nav-trigger span:before {
	top: -6px;
}

.nav-trigger span:after {
	top: 6px;
}

/* side navigation styles */

.side-nav {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f2f4f7;
	z-index: 1;
	display: none;
}

.side-nav.visible {
	display: block;
}

.side-nav ul {
	margin: 0;
	padding: 0;
}

.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid;
	position: relative;
}

.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #2e78ba;
}

.side-nav ul li a {
	color: rgb(100, 97, 97);
	display: block;
	text-decoration: none;
}

.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
	text-align: center;
}

.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}

/* main content styles */

.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	overflow: auto;
}

.main-content .title {
	background-color: #2e78ba;
	/*student board */
	border-bottom: 1px solid #2e78ba;
	padding: 10px 20px;
	font-weight: 700;
	color: #faf9f6;
	font-size: 18px;
}

/* set element styles to fit tablet and higher(desktop) */

@media screen and (min-width: 600px) {
	.header {
		background-color: #2e78ba;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span,
	.nav-trigger span:before,
	span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav .logo {
		text-align: center;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}
	.si {
		position: absolute;
		bottom: 5%;
		left: 15%;
		width: 70%;
	}
	.font2 {
		text-align: center;
		margin: auto;
		clear: both;
	}
}

/* set element styles for desktop */

@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav .logo {
		text-align: left;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
		background-image: url("./images/oru.png");
	}
	.si {
		position: absolute;
		bottom: 5%;
		left: 15%;
		width: 70%;
	}
}

/* main box container */

.main2 {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	height: 100%;
	background-color: #faf9f6;
}

.main {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
}

.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}

.widget .title {
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #fff;
	font-weight: 600;
}

.StudentDiv2 {
	text-align: center;
	width: 80%;
	padding-left: 20%;
}
.Editbtn{
	width: 100%;
	padding: 3%;
	border-radius: 1%;
	outline: 0px;
}

#button2 {
	width: 100%;
	padding: 3%;
	border-radius: 1%;
	outline: 0px;
}

#buttondbtest{
	width: auto;
	height: 20%;
	margin: auto;
}

#textdbdtest{
	width: 50%;
	height: 50%;
	margin: auto;
}

#butt {
	width: 100%;
	padding: 3%;
	border-radius: 1%;
	outline: 0px;
}

.font2 {
	/* background-color: #6d6e70; */
	text-align: center;
	width: 50%;
	margin: auto;
	clear: both;
}

.h2 {
	background-color: #dfe4ec;
}

#JobsWidget {
	height: 95%;
	background-color: #fff;
}

#user {
	background: beige;
	padding: 0;
	margin: 0;
	width: 20vw;
}

#usertable {
	background: rgb(177, 167, 125);
	padding: 0;
	margin: 0;
	display: table;
}

#usertable th {
	background: beige;
}

#usertable table,
th,
td {
	border: 1px solid black;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #2e78ba;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
}

.modalbtn:hover, button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width
.cancelbtn, .updatebtn, .matchbtn, .changebtn {
  width: 25%;
  margin-right: 2%;
} */

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}


/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix{
	margin: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

.Job-list {
	padding: 0;
}

.Job-list>li {
	padding: 10px;
	border: 3px solid #2e78ba;
	border-radius: 5px;
	background-color: #2e79ba56;
	list-style-type: none;
	margin-bottom: 10px;
}



.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapseContent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

