<<<<<<< HEAD
/*Index*/
@import url('https//fonts.googleapis.com/css?family=Raleway');
@import url('https//fonts.googleapis.com/css?family=Oswald');
=======
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/StartPicture.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
>>>>>>> a2838fa36fa67c63cc8418a1607fce0d4c011379

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
<<<<<<< HEAD
.firstpage{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("../images/StartPicture.png") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.firstpage .inner{
    display: table-cell;
    vertical-align: middle;
=======
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}
.input-field {
>>>>>>> a2838fa36fa67c63cc8418a1607fce0d4c011379
    width: 100%;
    max-width: none;
}
.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color:	#fff;
    font-size: 200%;
    padding: 10px 20px;
    border: solid	#fff 6px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 1000ms, color 1000ms;
}
.btn:hover{
    background-color: rgba(255,255,255,1);
    color: #2c71ae;
    cursor: pointer;

<<<<<<< HEAD
    transition: background-color 1000ms, color 1000ms;
}
@media screen and (max-width: 768px) {
    .content h1{
        font-size: 250%;
    }
    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
=======
.btn:hover {
    opacity: 1;
>>>>>>> a2838fa36fa67c63cc8418a1607fce0d4c011379
}