body.Startpage{
    background-color: #2c71ae;
    background-image: url("../images/StartPicture.png");
    background-position: center;
    background-size: cover;
}.heading{
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0px; bottom: 0px; right: 0px; left: 0px;
}
.title1{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 60pt;
    font-family: big john;
}
.title2{
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 14pt;
    font-family: serif;
}
.loginb{
    margin: auto;
    text-align: center;
    height: 30%;
    border: solid white;
    background-color: rgba(255,255,255,0);
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5%;

    transition: background-color 1000ms, color 1000ms;
}
.loginb:hover{
    background-color: rgb(167, 164, 164);
    color: #2c71ae;
    cursor: pointer;
    transition: background-color 1000ms, color 1000ms;
}

/* login */
body.login{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('images/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body.Student{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('images/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.loginDiv{
    background-color: #fff;
    width: 40%;
    height: 100vh;
    position: absolute;
    left: 30%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    clear: both;
}
.loginDiv h2 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-align: center;
    text-shadow: 0px 0px 300px #000;
    font-size: 200%;
}

/*Student Register */
.StudentDiv{
    background-color: #fff;
    width: 40%;
    height: 100vh;
    position: absolute;
    left: 30%;
    margin: 0 auto;
    background: rgba(0,0,0,0.5);
    clear: both;
    
}

.StudentDiv h2 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-align: center;
    text-shadow: 0px 0px 300px #000;
    font-size: 200%;
}
.container{
    margin: auto;
    font-size: 110%;
    color: seashell;
    font-family: sans-serif;
    width: 50%;
    clear: both;
}
.container input{
  
    width: 100%;
    clear: both;
}
#password_div{
    text-align: center;
    padding: 5%;
}
#uname_div{
    text-align: center;


}
#login_btn{
    width: 20vw;
    height: 10vh;
    background-color: #2c71ae;
    border: 0.1vw solid #2c71ae;
    border-radius: 0.2vw;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: 30%;
}
#create_btn{
    margin-top: 5%;
    width: 20vw;
    height: 10vh;
    background-color: seashell;
    border: 0.1vw solid seashell;
    border-radius: 0.2vw;
    color: rgb(12, 12, 12);
    cursor: pointer;
    margin-left: 25%;
    font-size: 150%;
}
img{
    height: 30vh;
    margin-left: 10%;
}
a.loginb{
    font-size: 100%;
    color: grey;
    background-color: seashell;
    padding: 3vh 6vh 3vh 6vh;
    cursor: pointer;
    text-decoration: None;

    margin-top: 30%;


    
}