.bgimg{
    background-image: url('../images/StartPicture.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
body, h1 {
    font-family: "Raleway", sans-serif;
    text-align: center;
}
body, html {
    height: 100%;
}
* {box-sizing: border-box;}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
#icon {
    padding: 12px;
    background: #AAAAAA;
    color: white;
    min-width: 50px;
    text-align: center;
}
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.loginbtn {
    background-color: rgba(255, 255, 255, 0.295);
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 30%;
    padding: 8px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
  }
  .loginbtn:hover,
  .loginbtn:active {
    background-color: #fff;
    color: #000;
  }
