/*Index*/
@import url('https//fonts.googleapis.com/css?family=Raleway');
@import url('https//fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.firstpage{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("../images/StartPicture.png") no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}
.firstpage .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 400%;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color:	#fff;
    font-size: 200%;
    padding: 10px 20px;
    border: solid	#fff 6px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 1000ms, color 1000ms;
}
.btn:hover{
    background-color: rgba(255,255,255,1);
    color: #2c71ae;
    cursor: pointer;

    transition: background-color 1000ms, color 1000ms;
}
@media screen and (max-width: 768px) {
    .content h1{
        font-size: 250%;
    }
    .btn{
        font-size: 110%;
        padding: 7px 15px;
    }
}