<form action="/login" method="POST">
    <div class="field">
        <input type="text" class="input_style" name="username" id="username" placeholder="Enter username...">
        <label for="username" id="user_label">Username</label>
    </div>
    <div class="field">
        <input type="password" class="input_style" name="password" id="password" placeholder="Enter password...">
        <label for="password" id="pass_label">Password</label>
    </div>
    <p class="remember">
        <input type="checkbox" id="remember" name="remember" value="1" />
        <label for="remember">Remember me</label>
    </p>
    <input type="submit" value="Sign In" class="btn">
</form>